:root {
    --bs-blue: #0eadfd;
    --bs-purple: #a80df0;
    --bs-green: #26cc7f;
    --bs-yellow: #ccab06;
}
.btn-outline-primary {
    --bs-btn-color: var(--bs-blue);
    --bs-btn-border-color: var(--bs-blue);
    --bs-btn-active-bg: var(--bs-blue);
    --bs-btn-active-border-color: var(--bs-blue);
    --bs-btn-hover-border-color: var(--bs-blue);
    --bs-btn-hover-bg: var(--bs-blue);
}
.btn-outline-warning {
    --bs-btn-color: var(--bs-yellow);
    --bs-btn-border-color: var(--bs-yellow);
    --bs-btn-active-bg: var(--bs-yellow);
    --bs-btn-active-border-color: var(--bs-yellow);
    --bs-btn-hover-border-color: var(--bs-yellow);
    --bs-btn-hover-bg: var(--bs-yellow);
}
.btn-outline-success {
    --bs-btn-color: var(--bs-green);
    --bs-btn-border-color: var(--bs-green);
    --bs-btn-active-bg: var(--bs-green);
    --bs-btn-active-border-color: var(--bs-green);
    --bs-btn-hover-border-color: var(--bs-green);
    --bs-btn-hover-bg: var(--bs-green);
}
.btn-outline-info {
    --bs-btn-color: var(--bs-purple);
    --bs-btn-border-color: var(--bs-purple);
    --bs-btn-active-bg: var(--bs-purple);
    --bs-btn-active-border-color: var(--bs-purple);
    --bs-btn-hover-border-color: var(--bs-purple);
    --bs-btn-active-color: white;
}
.text-primary {
    color: var(--bs-blue) !important
}
.text-warning {
    color: var(--bs-yellow) !important
}
.text-success {
    color: var(--bs-green) !important
}
.text-info {
    color: var(--bs-purple) !important
}