{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static "css/colors.css" %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}Faces</title>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <style>
        header {
            top: 57px !important;
        }
        body {
            padding-top: 9rem;
        }
        @media only screen and (max-width: 767px) {
            body {
                padding-top: 12.5rem;
            }
        }
    </style>
</head>
<body>
    <header class="py-3 mb-4 border-bottom bg-light fixed-top">
        <div class="container d-flex flex-wrap justify-content-center">
            <a href="/" class="d-flex align-items-center me-5 me-lg-auto text-dark text-decoration-none">
                <img class="bi me-1" height="38" src="{% static 'img/faces.svg' %}" alt="Faces logo">
            </a>
            {% if user.is_authenticated %}
                <form method="get" class="d-flex mt-3 mt-md-0" role="search" action="{% url 'search_results' %}">
                    <input class="form-control me-2" name="q" type="search" placeholder="Search..." aria-label="Search"
                           value="{% block query %}{% endblock %}" required>
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            {% endif %}
        </div>
    </header>
    <nav class="navbar navbar-expand-md py-2 bg-light border-bottom fixed-top">
        <div class="container d-flex flex-wrap">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                {% if not user.is_authenticated %}
                    <ul class="nav me-auto">
                        <li class="nav-item"><a href="#" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
                        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">About</a></li>
                        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">FAQs</a></li>
                        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Contact</a></li>
                    </ul>
                    <ul class="nav">
                        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link link-dark px-2">Login</a></li>
                        <li class="nav-item"><a href="{% url 'register' %}" class="nav-link link-dark px-2">Sign up</a></li>
                    </ul>
                {% else %}
                    <ul class="nav me-auto">
                        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
                        <li class="nav-item"><a href="{% url 'friends' %}" class="nav-link link-dark px-2">Friends</a></li>
                        <li class="nav-item"><a href="{% url 'create_post' %}" class="nav-link link-dark px-2">Create post</a></li>
                        {% if user.is_staff %}
                            <li class="nav-item"><a href="{% url 'admin:index' %}" class="nav-link link-dark px-2">Admin</a></li>
                        {% endif %}
                    </ul>
                    <div class="dropdown me-5">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle position-relative" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static user.profilepicture.url %}" alt="{{ user.username }}" class="rounded-circle" width="32" height="32">
                            {% if user.person.unread %}
                                <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger">{{ user.person.unread }}</span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><h6 class="dropdown-header">Welcome, {{ user.first_name }}</h6></li>
                            <li><a class="dropdown-item" href="{% url 'preferences' %}">Preferences</a></li>
                            <li><a class="dropdown-item" href="{% url 'user' user.username %}">My profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'notifications' %}">Notifications</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <style>
        @media (min-width: 1200px) {
            .container-sm{
                max-width: 900px;
            }
        }
    </style>
    <div class="container container-sm">
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer class="py-3 my-4 border-top text-center text-muted">
            Made with ❤️ by Jan Kropiwnicki
        </footer>
    </div>
    {% if user.is_authenticated %}
        <script>
            bootstrap.Toast.Default.delay = 10000;
            let toasts = 0;
            setInterval(function () {
                $.ajax({
                    data: "",
                    url: "{% url 'get_notification' %}",
                    success: function (response) {
                        if (response.notification) {
                            let notificationContent;
                            switch (response.notification.type) {
                                case "new_post":
                                    notificationContent = `
                                        <div class="toast-body d-flex">
                                            <div>
                                                <a href="${response.notification.user.url}" class="text-decoration-none">
                                                    <img src="${response.notification.user.profile_picture}" class="rounded-circle" width="32">&nbsp;<span class="link">${response.notification.user.first_name}&nbsp;${response.notification.user.last_name}&nbsp;@${response.notification.user.username}</span>
                                                </a>
                                                published a new post!
                                            </div>
                                            <button type="button" class="btn-close me-0 mt-0 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                        </div>
                                        <div class="p-2 border-top">
                                            <a href="${response.notification.see_more}" class="btn btn-primary btn-sm">See post</a>
                                        </div>
                                    `;
                                    break;
                                case "accept_request":
                                    notificationContent = `
                                        <div class="toast-body d-flex">
                                            <div>
                                                <a href="${response.notification.user.url}" class="text-decoration-none">
                                                    <img src="${response.notification.user.profile_picture}" class="rounded-circle" width="32">&nbsp;<span class="link">${response.notification.user.first_name}&nbsp;${response.notification.user.last_name}&nbsp;@${response.notification.user.username}</span>
                                                </a>
                                                accepted your friend request!
                                            </div>
                                            <button type="button" class="btn-close me-0 mt-0 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                        </div>
                                    `;
                                    break;
                                case "reject_request":
                                    notificationContent = `
                                        <div class="toast-body d-flex">
                                            <div>
                                                <a href="${response.notification.user.url}" class="text-decoration-none">
                                                    <img src="${response.notification.user.profile_picture}" class="rounded-circle" width="32">&nbsp;<span class="link">${response.notification.user.first_name}&nbsp;${response.notification.user.last_name}&nbsp;@${response.notification.user.username}</span>
                                                </a>
                                                rejected your friend request!
                                            </div>
                                            <button type="button" class="btn-close me-0 mt-0 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                        </div>
                                    `;
                                    break;
                                case "end_friendship":
                                    notificationContent = `
                                        <div class="toast-body d-flex">
                                            <div>
                                                <a href="${response.notification.user.url}" class="text-decoration-none">
                                                    <img src="${response.notification.user.profile_picture}" class="rounded-circle" width="32">&nbsp;<span class="link">${response.notification.user.first_name}&nbsp;${response.notification.user.last_name}&nbsp;@${response.notification.user.username}</span>
                                                </a>
                                                ended friendship with you!
                                            </div>
                                            <button type="button" class="btn-close me-0 mt-0 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                        </div>
                                    `;
                                    break;
                                case "new_comment":
                                    notificationContent = `
                                        <div class="toast-body d-flex">
                                            <div>
                                                <a href="${response.notification.user.url}" class="text-decoration-none">
                                                    <img src="${response.notification.user.profile_picture}" class="rounded-circle" width="32">&nbsp;<span class="link">${response.notification.user.first_name}&nbsp;${response.notification.user.last_name}&nbsp;@${response.notification.user.username}</span>
                                                </a>
                                                commented on your post!
                                            </div>
                                            <button type="button" class="btn-close me-0 mt-0 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                        </div>
                                        <div class="p-2 border-top">
                                            <a href="${response.notification.see_more}" class="btn btn-primary btn-sm">See post</a>
                                        </div>
                                    `;
                                    break;
                                default:
                                    notificationContent = `<div class="toast-body d-flex"><div>You have received a notification, but its type is not accepted.</div><button type="button" class="btn-close me-0 mt-0 m-auto" data-bs-dismiss="toast" aria-label="Close"></button></div>`;
                            }
                            let toastHTML;
                            toastHTML = `
                                <div id="toast-${toasts}" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                    ${notificationContent}
                                </div>
                            `;
                            $("#toast-container").append(toastHTML);
                            let toast = new bootstrap.Toast($(`#toast-${toasts}`));
                            toast.show();
                            toasts++;
                        }
                    }
                });
            }, 5000);
        </script>
        <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toast-container"></div>
    {% endif %}
    {% if messages %}
        <div class="alert alert-{{ messages.0.tags }} fixed-bottom mx-3">
            {{ messages.0 }}
        </div>
    {% endif %}
</body>
</html>