{% extends 'base.html' %}

{% block title %}
    {% if user.is_authenticated %}
        Main page &ndash;
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if friend_requests_len > 3 %}
            <p>You have {{ friend_requests_len }} friend requests! <a href="#">See more</a></p>
        {% elif friend_requests_len > 0 %}
            {% for friend_request in friend_requests %}
                <p>
                    {{ friend_request.user.first_name }} {{ friend_request.user.last_name }}
                    @{{ friend_request.user.username }} sent you a friend request!
                    <a href="{% url 'accept_request' friend_request.user.username %}">Accept</a>
                    <a href="{% url 'reject_request' friend_request.user.username %}">Decline</a>
                </p>
            {% endfor %}

        {% endif %}
        {% for post in post_list %}
            <hr>
            <p>Published on {{ post.0.date.date }} by <a href="{% url 'user' post.0.author.user.username%}">
                {{ post.0.author.user.first_name }} {{ post.0.author.user.last_name }}</a>
                @{{ post.0.author.user.username }}</p>
            <p>
            {% for line in post.1 %}
                {{ line }}<br>
            {% endfor %}
            </p>
            <p>{{ post.0.likes }} likes</p>
        {% endfor %}
    {% else %}
        <h1>Welcome to Postit.</h1>
    {% endif %}
{% endblock %}