{% extends 'base.html' %}

{% load static %}

{% block title %}
    {% if user.is_authenticated %}
        Main page &ndash;
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Welcome, {{ user.first_name }}!</h2>
        {% for friend_request in friend_requests %}
            <p>
                <a href="{% url 'user' friend_request.user.username %}">
                    <img src="{% static friend_request.user.profilepicture.url %}" alt="{{ friend_request.user.username }}" class="rounded-circle me-1" width="32" height="32">{{ friend_request.user.first_name }} {{ friend_request.user.last_name }}</a>
                @{{ friend_request.user.username }} sent you a friend request!
                <a href="{% url 'accept_request' friend_request.user.username %}" class="btn btn-primary ms-3">Accept</a>
                <a href="{% url 'reject_request' friend_request.user.username %}" class="btn btn-secondary">Decline</a>
            </p>
        {% endfor %}
        {% for post in post_list %}
            <div id="{{ post.0.id }}">
                <hr>
                <p>Published on {{ post.0.date.date }} by
                    <img src="{% static post.0.author.user.profilepicture.url %}" alt="{{ post.0.author.user.username }}" class="rounded-circle mx-1" width="32" height="32">
                    <a href="{% url 'user' post.0.author.user.username %}">
                    {{ post.0.author.user.first_name }} {{ post.0.author.user.last_name }}</a>
                    @{{ post.0.author.user.username }}</p>
                <p>
                {% for line in post.1 %}
                    {{ line }}<br>
                {% endfor %}
                </p>
                <p class="lead text-primary">
                    {% if user.likeprofile in post.0.likeprofile_set.all %}
                        <a id="like-{{ post.0.id }}" onclick="dislike_{{ post.0.id }}()"><i class="bi bi-star-fill"></i></a>
                    {% else %}
                        <a id="like-{{ post.0.id }}" onclick="like_{{ post.0.id }}()"><i class="bi bi-star"></i></a>
                    {% endif %}
                    <span id="like-count-{{ post.0.id }}">{{ post.2 }}</span><span class="mx-3"></span>
                    <a href="{% url 'post_page' post.0.id %}" class="text-primary text-decoration-none"><i class="bi bi-chat-square"></i>
                    {{ post.3 }}</a>
                </p>
            </div>
            <script>
                function like_{{ post.0.id }}() {
                    $.ajax({
                        data: "id=" + {{ post.0.id }},
                        url: "{% url 'like' %}",
                        success: function (response) {
                            $("#like-" + {{ post.0.id }}).html('<i class="bi bi-star-fill lead"></i>');
                            $("#like-" + {{ post.0.id }}).attr("onclick", "dislike_{{ post.0.id }}()");
                            $("#like-count-" + {{ post.0.id }}).html(response.new_likes)
                        },
                        error: function (response) {
                            console.log(response.responseJSON.errors)
                        }
                    });
                }
                function dislike_{{ post.0.id }}() {
                    $.ajax({
                        data: "id=" + {{ post.0.id }},
                        url: "{% url 'dislike' %}",
                        success: function (response) {
                            $("#like-" + {{ post.0.id }}).html('<i class="bi bi-star lead"></i>');
                            $("#like-" + {{ post.0.id }}).attr("onclick", "like_{{ post.0.id }}()");
                            $("#like-count-" + {{ post.0.id }}).html(response.new_likes)
                        },
                        error: function (response) {
                            console.log(response.responseJSON.errors)
                        }
                    });
                }
            </script>
        {% endfor %}
    {% else %}
        <h1>Welcome to Faces.</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </p>
    {% endif %}
{% endblock %}