{% extends 'base.html' %}

{% block title %}
    {% if user.is_authenticated %}
        Main page &ndash;
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Welcome, {{ user.first_name }}!</h2>
        {% if friend_requests_len > 3 %}
            <p>You have {{ friend_requests_len }} friend requests! <a href="#">See more</a></p>
        {% elif friend_requests_len > 0 %}
            {% for friend_request in friend_requests %}
                <p>
                    {{ friend_request.user.first_name }} {{ friend_request.user.last_name }}
                    @{{ friend_request.user.username }} sent you a friend request!
                    <a href="{% url 'accept_request' friend_request.user.username %}">Accept</a>
                    <a href="{% url 'reject_request' friend_request.user.username %}">Decline</a>
                </p>
            {% endfor %}
        {% endif %}
        {% for post in post_list %}
            <div id="{{ post.0.id }}">
                <hr>
                <p>Published on {{ post.0.date.date }} by <a href="{% url 'user' post.0.author.user.username %}">
                    {{ post.0.author.user.first_name }} {{ post.0.author.user.last_name }}</a>
                    @{{ post.0.author.user.username }}</p>
                <p>
                {% for line in post.1 %}
                    {{ line }}<br>
                {% endfor %}
                </p>
                <p>
                    {% if user.likeprofile in post.0.likeprofile_set.all %}
                        <a class="like-icon" id="like-{{ post.0.id }}" onclick="dislike({{ post.0.id }})">&#xf164;</a>
                    {% else %}
                        <a class="like-icon" id="like-{{ post.0.id }}" onclick="like({{ post.0.id }})">&#xe802;</a>
                    {% endif %}
                    <span id="like-count-{{ post.0.id }}">{{ post.2 }}</span>
                </p>
            </div>
        {% endfor %}
        <script>
            function like(id) {
                $.ajax({
                    data: `id=${id}`,
                    url: "{% url 'like' %}",
                    success: function (response) {
                        $("#like-" + id).html("&#xf164;");
                        $("#like-" + id).attr("onclick", `dislike(${id})`);
                    },
                    error: function (response) {
                        console.log(response.responseJSON.errors)
                    }
                });
            }
            function dislike(id) {
                $.ajax({
                    data: `id=${id}`,
                    url: "{% url 'dislike' %}",
                    success: function (response) {
                        $("#like-" + id).html("&#xe802;");
                        $("#like-" + id).attr("onclick", `like(${id})`);
                    },
                    error: function (response) {
                        console.log(response.responseJSON.errors)
                    }
                });
            }
        </script>
    {% else %}
        <h1>Welcome to Faces.</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </p>
    {% endif %}
{% endblock %}