<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search users</title>
</head>
<body>
    {% if user.is_authenticated %}
        <a href="{% url 'index' %}">Go back</a>
        <p>All users on Facebook 2:</p>
        <ul>
        {% for person in users %}
            <li><a href="{% url 'user' person.user.username %}">{{ person.user.first_name }} {{ person.user.last_name }}</a>
                @{{ person.user.username }}{% if person.user == user %} (you){% endif %}</li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>