{% extends 'base.html' %}

{% load static %}

{% block title %}{% if viewed_user == user %}My{% else %}{{ viewed_user.first_name }}'s{% endif %} profile &ndash; {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <style>
            .post-content-col {
                max-height: 200px;
                position: relative;
            }
            .post-content-col-long:after {
                content: "";
                position: absolute;
                z-index: 1;
                bottom: 0;
                left: 0;
                pointer-events: none;
                background-image: linear-gradient(to bottom,
                                  rgba(var(--bs-light-rgb), 0),
                                  rgba(var(--bs-light-rgb), 1) 100%);
                width: 100%;
                height: 4rem;
            }
            .post-see {
                z-index: 2;
            }
            .post-img {
                background-size: cover;
                height: 200px;
            }
            @media only screen and (max-width: 767px) {
                .post-img {
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        </style>
        <h2>
            <img src="{% static viewed_user.profilepicture.url %}" alt="{{ viewed_user.username }}" class="rounded-circle me-1" width="64" height="64">
            {{ viewed_user.first_name }} {{ viewed_user.last_name }} @{{ viewed_user.username }}
            {% if viewed_user.is_staff %}
                <span class="lead text-primary"><i class="bi bi-patch-check-fill"></i> Faces staff</span>
            {% endif %}
            {% if viewed_user == user %}
                <button class="btn btn-outline-primary my-3" disabled>You</button>
            {% elif user.person in viewed_user.person.friends.all %}
                <a class="btn btn-outline-primary my-3" href="{% url 'end_friendship' viewed_user.username %}">End friendship</a>
            {% elif user.person in viewed_user.requestprofile.friend_requests.all %}
                <button class="btn btn-outline-primary my-3" disabled>Pending friend request</button>
            {% else %}
                <a class="btn btn-primary my-3" href="{% url 'send_request' viewed_user.username %}"><strong>Send friend request</strong></a>
            {% endif %}
            {% if mutual_friend_count and viewed_user != user %}
                <br>
                <span class="lead">Friend of {% for friend in mutual_friends %}
                    {% if not forloop.counter %}
                        ,
                    {% endif %}
                    {{ friend.user.first_name }} {{ friend.user.last_name }} @{{ friend.user.username }}
                {% endfor %}
                {% if mutual_friend_count > 3 %}
                    and {{ mutual_friend_count|add:'-3' }} more
                {% endif %}
                </span>
            {% endif %}
        </h2>
        <p class="lead">{{ viewed_user.person.bio }}
            {% if viewed_user == user %}
                <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#change-bio-modal">Edit bio</button>
            {% endif %}
        </p>
        {% if viewed_user == user %}
            <div class="modal fade" id="change-bio-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Edit bio</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post" action="{% url 'edit_bio' %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                <textarea name="bio" maxlength="300" placeholder="Tell people something about you..."
                                          class="w-100 form-control" rows="4" style="resize: none">{{ user.person.bio }}</textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if user.person in viewed_user.person.friends.all or viewed_user == user or mutual_friend_count and viewed_user.person.post_vis != 0 or viewed_user.person.post_vis == 2 %}
            {% if post_list %}
                <p>{% if viewed_user == user %}Your{% else %}{{ viewed_user.first_name }}'s{% endif %} posts:</p>
            {% else %}
                <p>This user has no posts.</p>
            {% endif %}
            {% for post in post_list %}
                <div id="{{ post.0.id }}" class="card bg-light my-3 p-3 pb-0 overflow-hidden">
                    <p>
                        Published on {{ post.0.date.date }} by
                        <img src="{% static post.0.author.user.profilepicture.url %}" alt="{{ post.0.author.user.username }}" class="rounded-circle mx-1" width="32" height="32">
                        <a href="{% url 'user' post.0.author.user.username %}">
                        {{ post.0.author.user.first_name }} {{ post.0.author.user.last_name }}</a> @{{ post.0.author.user.username }}
                    </p>
                    <div class="row row-cols-1 row-cols-md-2">
                        {% if post.0.image %}
                            <div class="col-md-3 mx-md-3 post-img" style="background-image: url({{ post.0.image }})"></div>
                        {% endif %}
                        <div class="col post-content-col">
                            <div id="post-{{ post.0.id }}-content" class="post-content">
                                {% for line in post.1 %}
                                    {{ line }}<br>
                                {% endfor %}
                            </div>
                            <a href="{% url 'post_page' post.0.id %}"
                               class="btn btn-secondary position-absolute start-50 top-100 translate-middle post-see"
                               style="display: none" id="post-{{ post.0.id }}-see">See post</a>
                        </div>
                    </div>
                    <p class="lead text-primary mb-0 pt-3 pb-3 bg-light" style="z-index: 1">
                        {% if user.likeprofile in post.0.likeprofile_set.all %}
                            <a id="like-{{ post.0.id }}" onclick="dislike_{{ post.0.id }}()"><i class="bi bi-star-fill"></i></a>
                        {% else %}
                            <a id="like-{{ post.0.id }}" onclick="like_{{ post.0.id }}()"><i class="bi bi-star"></i></a>
                        {% endif %}
                        <span id="like-count-{{ post.0.id }}">{{ post.2 }}</span><span class="mx-3"></span>
                        <a href="{% url 'post_page' post.0.id %}" class="text-primary text-decoration-none"><i class="bi bi-chat-square"></i>
                        {{ post.3 }}</a>
                    </p>
                </div>
                <script>
                    function like_{{ post.0.id }}() {
                        $.ajax({
                            data: "id=" + {{ post.0.id }},
                            url: "{% url 'like' %}",
                            success: function (response) {
                                $("#like-" + {{ post.0.id }}).html('<i class="bi bi-star-fill lead"></i>');
                                $("#like-" + {{ post.0.id }}).attr("onclick", "dislike_{{ post.0.id }}()");
                                $("#like-count-" + {{ post.0.id }}).html(response.new_likes)
                            },
                            error: function (response) {
                                console.log(response.responseJSON.errors)
                            }
                        });
                    }
                    function dislike_{{ post.0.id }}() {
                        $.ajax({
                            data: "id=" + {{ post.0.id }},
                            url: "{% url 'dislike' %}",
                            success: function (response) {
                                $("#like-" + {{ post.0.id }}).html('<i class="bi bi-star lead"></i>');
                                $("#like-" + {{ post.0.id }}).attr("onclick", "like_{{ post.0.id }}()");
                                $("#like-count-" + {{ post.0.id }}).html(response.new_likes)
                            },
                            error: function (response) {
                                console.log(response.responseJSON.errors)
                            }
                        });
                    }
                    if ($("#post-{{ post.0.id }}-content").height() > 200) {
                        $("#post-{{ post.0.id }}-see").css("display", "block");
                        $("#post-{{ post.0.id }}-content").parent().addClass("post-content-col-long");
                    }
                </script>
            {% endfor %}
        {% elif viewed_user.person.post_vis == 0 %}
            <p class="lead text-danger">You can only view {{ viewed_user.first_name }}'s posts if you are his friend.</p>
        {% else %}
            <p class="lead text-danger">You can only view {{ viewed_user.first_name }}'s posts if you have any mutual friends with them.</p>
        {% endif %}
    {% endif %}
{% endblock %}